<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<name>Data filter plugin</name>
	<file>plugin-datafilter-demo-1.0.0.jar</file>
	<type>2</type><!-- 1,网址抓取插件  2,数据过滤插件   3,文件保存插件  4,数据发布插件  -->
	<depend>no</depend><!-- 是否依赖第三方JAR -->
	<platforms>
		<platform>gae</platform>
		<platform>bae</platform>
		<platform>sae</platform>
		<platform>appfog</platform>
		<platform>other</platform>
	</platforms>
</plugin>
