body {margin:0px; padding:0px; font-size: 12px;}

form {margin:0;	padding:0;}

img {border:0px;}

a{text-decoration: none;}
a:link {color: #000000;} 
a:visited {color: #333333;} 
a:hover{color: #ae0927;}
a:active {color: #0000ff;}

.f14b {color: #000000; font-size:14px; font-weight:bold;}

.btn{padding-top:3px; border:#ccc 1px solid; background-color:#FFFFFF; font-size:12px;}

.input{height:18px; width:200px; line-height:18px; border:#93C9F0 1px solid;}


.main{width:980px;margin:0 auto; font-size:14px;}
.main h2{text-indent:20px; color:#3e3e3e; font-size:14px;}

.regist-header{background:url(bg1.gif) repeat-x;width:100%; height:125px;margin:0 auto;}
.rgheader{width:980px; height:87px; margin:0 auto;}
.rgheader .brand{float:left; margin:0px;}
.rgheader .brand h1 {display:block;width:239px; height:87px;overflow:hidden;text-indent:-9999px;margin-right:0px;}
.rg-tbg{background:url(regist-tbg.gif) no-repeat top; width:950px;}
.regist-submit{background:url(regist-sumbit.gif) no-repeat; width:91px; height:44px; border:0 none; cursor:pointer; text-align:center; color:#FFFFFF; font-weight:bold;}
.box:after{content:"\0020";display:block;height:0;clear:both;}